@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}
@import 'blocks/chevron';
@import 'blocks/promo_text';
@import 'blocks/title_subtitle';
@import 'blocks/ava_nimb';
@import 'blocks/form';

@import 'blocks/buttons';
@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/conf';
@import 'blocks/main-idea';
@import 'blocks/info';
@import 'blocks/reviews';
@import 'blocks/promo_video';
@import 'blocks/clients';
@import 'blocks/sponsors';
@import 'blocks/contacts';
@import 'blocks/feedback';
@import 'blocks/register';
@import 'blocks/modal';

@import 'blocks/footer';