.button {
    width: 153px;
    height: 42px;
    background-color: $main-color;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    &_club {
        height: 38px;
        background-color: #e8d8b6;
        font-size: 12px;
    }
    &_more {
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 38px;
        background-color: $learn-color;
        text-transform: none;
    }
    &_form {
        display: block;
        margin-left: auto;
        margin-right: 0;
        width: 111px;
    }
    &_dark {
        background-color: $second-color;
    }
    &_mt39 {
        margin: 39px 7px 0 7px;
    }
    &_subscribe {
        margin: 0 auto;
        margin-top: 12px;
    }
}