.chevron {
    min-height: 12px;
    width: 50px; 
    margin: 6px;
    position: relative;
    &:before, 
    &:after {
    content: "";
    height: 3px; 
    width: 50%;
    position: absolute; 
    top: 5px;
    background: $main-color;
    }
    &:before {
    left: 0;
    transform: skew(0deg, 20deg);
    }
    &:after {
    right: 0;
    transform: skew(0deg, -20deg);
    }
    &_left {
        transform: rotate(90deg);
    }
    &_right {
        transform: rotate(-90deg);
    }
    &_white {
        &:before,
        &:after {
            background: #fff;
        }
    }
    &_down {
        width: 22px;
        margin: 8px auto;
    }
}