.chevron {
    height: 46px;
    position: relative;
	&_left {
        &:before{
            position: absolute;
            top: 0;
            left: 50%;
            content: "";
            display: block;
            width: 2px;
            height: 23px;
            background-color: #fff;
            transform: skew(-25deg) translateX(-50%);
        }
        &:after {
            position: absolute;
            bottom: 0;
            left: 50%;
            content: "";
            display: block;
            width: 2px;
            height: 23px;
            background-color: #fff;
            transform: skew(25deg) translateX(-50%);
        }
        &_gold {
            &:before {
                background-color: $main-color;
            }
            &:after {
                background-color: $main-color;
            }
        }
    }
    &_right {
        &:before{
            position: absolute;
            top: 0;
            left: 50%;
            content: "";
            display: block;
            width: 2px;
            height: 23px;
            background-color: #fff;
            transform: skew(25deg) translateX(-50%);
        }
        &:after {
            position: absolute;
            bottom: 0;
            left: 50%;
            content: "";
            display: block;
            width: 2px;
            height: 23px;
            background-color: #fff;
            transform: skew(-25deg) translateX(-50%);
        }
        &_gold {
            &:before {
                background-color: $main-color;
            }
            &:after {
                background-color: $main-color;
            }
        }
    }
    &_down {
        margin: 8px auto;
        height: 8px;
        width: 22px;
        &:before{
            position: absolute;
            top: 50%;
            left: 0;
            content: "";
            display: block;
            width: 50%;
            height: 2px;
            background-color: $main-color;
            transform: skew(25deg) rotate(25deg) translateY(-50%);
        }
        &:after {
            position: absolute;
            top: 50%;
            right: 0;
            content: "";
            display: block;
            width: 50%;
            height: 2px;
            background-color: $main-color;
            transform: skew(-25deg) rotate(-25deg) translateY(-50%);
        }
    }
    &_up {
        width: 22px;
        height: 8px;
        &:before{
            position: absolute;
            top: 50%;
            left: 0;
            content: "";
            display: block;
            width: 50%;
            height: 2px;
            background-color: $main-color;
            transform: skew(-25deg) rotate(-25deg) translateY(-50%);
        }
        &:after {
            position: absolute;
            top: 50%;
            right: 0;
            content: "";
            display: block;
            width: 50%;
            height: 2px;
            background-color: $main-color;
            transform: skew(25deg) rotate(25deg) translateY(-50%);
        }
    }
}