.clients {
    min-height: 287px;
    padding: 42px 0 70px 0;
    background-color: #f8f3e9;
    &__slider {
        margin: 0 auto;
        margin-top: 24px;
    }
    &__plate {
        height: 123px;
        width: 178px;
        margin: 0 6px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}