.sponsors {
    min-height: 1176px;
    padding: 48px 0 68px 0;
    &__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &_flex-start {
            justify-content: flex-start;
        }
        &_mini {
            margin: 50px 0;
        }
    }
    &__select {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        min-width: 450px;
        min-height: 50px;
        padding: 0 18px;
        border: 1px solid #e8d8b6;
        color: #606060;
        font-size: 14px;
        font-weight: 300;
        &_register {
            margin: 0;
            margin-bottom: 11px;
            min-width: 426px;
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 267px;
        min-height: 360px;
        margin: 47px 14px 0 14px;
        &_4x {
            max-width: 257px;
        }
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        height: 160px;
        width: 100%;
        border: 1px solid #f3ebda;
        img {
            max-width: 100%;
        }
        &_page-detail {
            width: 518px;
            height: 317px;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        &_mini {
            width: 360px;
            height: 220px;
            margin: 0 15px;
        }
    }
}